<div class = "EditUserForm">
<h2> Hi <%= @user.name %> edit your profile here:</h2>
<p>(please make sure to enter your password so we can confirm it's you!)</p>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br></br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br></br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br></br>
  <%= f.submit "Submit" %>
<% end %>
</div>
