<h1><%= @user.name %></h1>

<% if flash[:authorize] %>
    <p style="color: red;"><%= flash[:authorize]  %></p>
<% end %>

<% if @user.bio == nil %>
<p> Hey <%= @user.name %>, you haven't set up your profile yet. Do so here: <%= link_to "Edit Profile", edit_user_path %></p>
<% else %>
<h3>Bio:</h3>
<h5><%= @user.bio %></h5>
<% end %>

<br></br>

<% if !@readings.empty? %>
  <%= @user.name %>'s book list is:
  <ul>
    <% @readings.each do |reading| %>
      <h3><%= link_to reading.book.title, reading.book %></h3>
      <p><%= reading.book.description %></p>
      <% reading.comments.each do |c| %>
      <p><%= c.user.name %>:</p>
      <p><%= c.content %></p>
    <% end %>
      <%= form_tag comments_path do %>
      <%= hidden_field_tag :reading_id, reading.id %>
      <%= text_area_tag :content %><br>
      <%= submit_tag "Make a comment" %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <% if current_user == @user %>
    <p>You haven't picked any books yet! Pick Books Here: <%= link_to "Books", search_book_path %></p>
    <% else %>
    <p><%= @user.name %> hasn't picked any books yet!</p>
  <% end %>
<% end %>
<br></br>

<% if @user == current_user %>
    <% nil %>
  <% elsif %>
    <% !@user.followers.include?(current_user)%>
    <%= form_tag followings_path do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= submit_tag "Follow this person" %>
      <% end %>
  <% else %>
    <h3>You already follow <%= @user.name %>, <%= current_user.name %>!</h3>
    <%= form_tag unfollow_path, method: 'DELETE' do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= submit_tag "Unfollow" %>
    <% end %>
<% end %>

<br></br>
<%= link_to "Go back to all users", users_path %>
<br></br>
<%= link_to "Edit your profile", edit_user_path %>
