<h1 class="wallHeader">Recent Activity</h1>
<h3 class="wallHeader2">Here's what you've missed:</h3>

<div class="Books">
<% @selected_readings.each do |reading| %>

  <h3><%= link_to reading.user.name, reading.user %> is reading:</h3>
  <h2><%= image_tag("book.png", :size => "20x20") %><%= "    " %><%= reading.book.title %></h2>
  <p><%= reading.book.description %></p>
  <% reading.comments.each do |c| %>
    <p><%= c.user.name %>:</p>
    <p><%= c.content %></p>
  <% end %>

  <%= form_tag comments_path do %>
  <%= hidden_field_tag :reading_id, reading.id %>
  <%= text_area_tag :content %><br>
  <%= submit_tag "Make a comment" %>
  <br></br>
  <% end %>
<% end %>
</div>
