<div class="searchResults">
<h1>Here are the books matching your search!</h1>

<% if flash[:book_added] %>
  <p style="color: salmon;"><%= flash[:book_added] %></p>
<% end %>

<ul>
  <% @books.each do |book| %>
      <ul class="searchResults"><%= image_tag("book.png", :size => "20x20") %><%= "      " %> | <%= link_to book.title, book %>, by <%= book.author %></ul>
  <% end %>
</ul>
</div>
