<h1><%= @book.title %></h1>

<h2><%= @book.subtitle %></h2>

<h3>Author(s): <%= @book.author %></h3>

<p>Description: <%= @book.description %></p>
<p>Publisher: <%= @book.publisher %>, <%= @book.publishedDate %></p>
<p>Page count: <%= @book.pageCount %> pages</p>

<%= form_tag readings_path do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= submit_tag "Add this to your booklist" %>
<% end %>

<p><%= link_to "Go back to all books", books_path %></p>
