<!DOCTYPE html>
<html>
  <head>
    <title>Bookbuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">
    <% if flash[:authorized] %>
      <p style="color: red;"><%= flash[:authorized] %></p>
    <% end %>
    <% if logged_in? %>
    <%= link_to "Your wall", user_wall_path(current_user) %> | <%= link_to "Your page", user_path(current_user) %> | <%= link_to "Search for books", books_path %> | <%= link_to "Search for friends", users_path %> | <%= link_to "Log Out", logout_path, method: 'post' %>

    <% else %>
    <% end %>
    <%= yield %>
  </body>
</html>
